* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > div {
    flex-grow: 1;
}

* {
    outline: 2px solid rosybrown;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
}

.header-links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.header > ul {
    display: flex;
    gap: 10px;
    height: fit-content;
}

.hero-text-container {
    padding: 100px 180px;
    display: flex;
    gap: 30px;
}

.hero-text > h1, .hero-text.secondary {
    margin-bottom: 6px;
}

.content-container > img {
    outline: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: white;
    border: #3882F6;
}

.pics-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


/*Fix the image height so it doesn't auto size with width*/
.hero-text-container > img {
    flex-grow: 2;
    width: 300px;
    height: 210px;
    background-color: grey;
    /* color: grey; */
}

.hero-text-container > div {
    flex-grow: 1;
    width: 400px;
    height: 210px;
}

div.info > h2 {
    margin-top: 0;
    text-align: center;
}

.info {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 40px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-block {
    display: flex;
    padding: 90px 380px;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 0;
    color: rgb(97, 92, 92);
}

.quote-block > p.quote {
    align-self: flex-end;
    /* min-height: 250px; */
    max-width: 700px;
}

.quoter {
    align-self: flex-end;
    font-size: 24px;
    font-style: normal;
    color: #1F2937;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 300px;
}

.call-to-action > .container {
    padding: 40px 75px;
    display: flex;
    gap: 200px;
    flex-grow: 1;
}

button {
    align-self: center;
    padding: 5px 15px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    color: #E5E7EB;
}

.header, .footer, .hero-text-container, a {
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-text.secondary, a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

li {
    height: min-content;
}

.call-to-action > .container, button {
    background-color: #3882F6;
    color: #E5E7EB;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.container > button {
    border: 2px solid #E5E7EB;
}

.subtext {
    text-align: center;
}




